<!DOCTYPE html>
<html>
<head>
  <title>Bleeper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <h1>Bleeper</h1>
      <%= link_to "Bleeps", controller: "bleeps", action: "index" %>
      <%= link_to "Users", controller: "users", action: "index" %>
    </nav>
  </header>

  <div class="container">
    <%= yield %>
  </div>

  <footer>
    <%= params.inspect if Rails.env.development? %>
  </footer>

</body>
</html>
